# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ouput Dir
/build

# specific folders
/vs/.vs/
/vs/AdditionalPylons/Debug/
/vs/AdditionalPylons/Release/
/vs/AdditionalPylons_client/Debug/
/vs/AdditionalPylons_client/Release/
/.vscode/

# vs specific files
*.user
*.tlog
*.lastbuildstate
*.recipe
*.ilk
*.idb
*.pdb
*.log
*.iobj
*.ipdb